<div class="container">

    <div class="row">

        <div class="col-7">
            <img src="https://res.cloudinary.com/dle7ctrmn/image/upload/v1676995290/Cloob-cover-cropped_byrspm.png"
                alt="Cloob Cover" class="cover-img">
        </div>

        <div class="col-5">
            <h1>cloob.</h1>
            <h2>Encuentra tu comunidad de lectores favorita.</h2>
            <p>
                Únete a uno de los cientos de clubs de lectura moderados por autores, lectores y amantes de las letras.
            </p>
            {{#unless currentUser}}
            <a href="/registro" class="btn btn-cloob">Crear cuenta</a>
            {{/unless}}
            {{#if currentUser}}
            <a href="/cloob/lista" class="btn btn-cloob">Ver cloobs</a>
            {{/if}}
        </div>

    </div>

    <hr>

    <div class="row">

        <div>
            <h2>Clubs de lectura más recientes.</h2>

        </div>

        {{#each recentCloobs}}

        <div class="col-md-3">

            <div class="card mb-4 cloobs" style="width: 18rem;">
                <img class="card-img-top" src="{{cover}}" alt="Imagen del Cloob {{name}}">
                <div class="card-body">

                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                    <hr>
                    <p class="card-text">Organizado por {{host.firstName}} {{host.lastName}}</p>
                    <hr>

                    {{#if ...isAdmin}}

                    <form action="/cloob/eliminar/{{_id}}" method="POST">
                        <input type="submit" value="Eliminar" class="btn btn-danger btn-sm">
                    </form>
                    <br>

                    {{/if}}

                    <a href="/cloob/detalles/{{_id}}" class="btn btn-dark btn-sm">Ver Cloob</a>

                </div>
            </div>

        </div>

        {{/each}}

    </div>

    <hr>

    <div class="row">

        <div>
            <h2>Clubs de lectura más populares.</h2>

        </div>

        {{#each popularCloobs}}

        <div class="col-md-3">

            <div class="card mb-4 cloobs" style="width: 18rem;">
                <img class="card-img-top" src="{{cover}}" alt="Imagen del Cloob {{name}}">
                <div class="card-body">

                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                    <hr>
                    <p class="card-text">Organizado por {{host.firstName}} {{host.lastName}}</p>
                    <hr>
                    <a href="/cloob/detalles/{{_id}}" class="btn btn-dark btn-sm">Ver Cloob</a>

                </div>
            </div>

        </div>

        {{/each}}

    </div>

</div>