<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h2>Editar perfil</h2>
            <hr>
            <form action="/user/editar" method="POST" enctype="multipart/form-data">
                <div class="mb-2">
                    <label for="firstName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" minlength="2"
                        value="{{firstName}}">
                </div>
                <div class="mb-2">
                    <label for="lastName" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" minlength="2"
                        value="{{lastName}}">
                </div>
                <div class="mb-2">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" name="username" minlength="2"
                        value="{{username}}">
                </div>
                <div class="mb-2">
                    <label for="email" class="form-label">Dirección de email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{email}}">
                </div>
                <div class="mb-2">
                    <label for="avatar" class="form-label">Foto de avatar</label>
                    <input type="file" class="form-control" id="avatar" name="avatar">
                    <div class="form-text helper">Png o Jpeg</div>
                </div>

                <input type="hidden" name="user_id" value="{{_id}}">

                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>