<div class="container">
    <div class="row">
        <h3>Mi perfil - {{currentUser.firstName}} {{currentUser.lastName}}</h3>
        <div>
            <img src="{{currentUser.avatar}}" alt="Avatar de {{currentUser.firstName}} {{currentUser.lastName}}"
                class="profile-picture">
        </div>
    </div>

    <div class="row">
        <h2>Mis amigues</h2>
        {{#each myFriends}}
        <div class="card-friend text-center mb-3">
            <div class="card-body">
                <img src="{{avatar}}" alt="Avatar de {{firstName}} {{lastName}}" class="profile-picture">
                <h4>{{firstName}} {{lastName}}</h4>
                <a href="/perfil/{{_id}}" class="btn btn-dark btn-sm">Ver perfil</a>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="row">
        <h2>Mis Cloobs</h2>
        {{#each myCloobs}}
        <div class="card-cloob">
            <img src="{{cover}}" class="card-img-top" alt="{{name}}">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="/cloob/detalles/{{_id}}" class="btn btn-dark btn-sm">Ver Cloob</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>