<div class="container">
    <div class="row">
        <h3>Mi perfil - {{currentUser.firstName}} {{currentUser.lastName}}</h3>
        <img src="{{currentUser.avatar}}" alt="Avatar de {{currentUser.firstName}} {{currentUser.lastName}}"
            class="profile-picture">
    </div>
    <div class="row">
        <h2>Tus amigues</h2>

        {{#each currentUser.amigos}}
        <div class="card-friend text-center mb-3">
            <div class="card-body">
                <img src="{{currentUser.avatar}}" alt="Avatar de {{currentUser.firstName}} {{currentUser.lastName}}"
                    class="profile-picture">
                <h4>{{currentUser.firstName}} {{currentUser.lastName}}</h4>
                <a href="/perfil/{{user_id}}" class="btn btn-dark btn-sm">Ver perfil</a>
            </div>
        </div>

        {{/each}}

        <div class="card text-center mb-3">
            <div class="card-body">
                <img src="{{currentUser.avatar}}" alt="Avatar de {{currentUser.firstName}} {{currentUser.lastName}}"
                    class="profile-picture">
                <h4>{{currentUser.firstName}} {{currentUser.lastName}}</h4>
                <a href="/perfil/{{user_id}}" class="btn btn-dark btn-sm">Ver perfil</a>
            </div>
        </div>
        <div class="card text-center mb-3">
            <div class="card-body">
                <img src="{{currentUser.avatar}}" alt="Avatar de {{currentUser.firstName}} {{currentUser.lastName}}"
                    class="profile-picture">
                <h4>{{currentUser.firstName}} {{currentUser.lastName}}</h4>
                <a href="/perfil/{{user_id}}" class="btn btn-dark btn-sm">Ver perfil</a>
            </div>
        </div>

        {{!-- {{#each currentUser.cloobs}} --}}
        <div class="card-cloob">
            <img src="{{cover}}" class="card-img-top" alt="{{name}}">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="/cloob//detalles/{{cloob_id}}" class="btn btn-primary">Ver detalles</a>
            </div>
        </div>
        {{!-- {{/each}} --}}

    </div>
</div>