<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <h1>Listado de Cloobs</h1>
            <hr>

            <div class="row">

                {{#each cloobs}}

                <div class="col-md-4">

                    <div class="card mb-4 cloobs" style="width: 18rem;">
                        <img class="card-img-top" src="{{cover}}" alt="Imagen del Cloob {{name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{description}}</p>
                            <hr>
                            <p class="card-text">Organizado por {{host.firstName}} {{host.lastName}}</p>
                            <hr>

                            {{#if ...isAdmin}}
                            <form action="/cloob/eliminar/{{_id}}" method="POST">
                                <input type="submit" value="Eliminar" class="btn btn-danger btn-sm">
                            </form>
                            {{/if}}

                            <a href="/cloob/detalles/{{_id}}" class="btn btn-dark btn-sm">Ver Cloob</a>

                        </div>
                    </div>

                </div>

                {{/each}}

            </div>

            <hr>

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 cloobs" style="width: 18rem;">
                        <img class="card-img-top"
                            src="https://res.cloudinary.com/dle7ctrmn/image/upload/v1676993838/dn8a0drueeclckzhzchr.png"
                            alt="Imagen del Cloob {{name}}">
                        <div class="card-body">
                            <h5 class="card-title">CREA UN NUEVO CLUB</h5>
                            <hr>
                            <p>Conviértete en responsable de un club de lectura.</p>

                            <hr>
                            <a href="/cloob/crear" class="btn btn-warning btn-sm">Crear Cloob</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>