<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h3>Crear nuevo evento</h3>
            <hr>
            <h2>Detalles finales</h2>
            <form action="/evento/{{cloob_id}}/crear-evento" method="POST">
                <div class="mb-2">
                    <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" alt="{{book.volumeInfo.title}}"
                        class="book-preview">
                    <h4>{{book.volumeInfo.title}}</h4>
                    <br>
                    <br>
                    <p>Escrito por:</p>
                    <h6>{{book.volumeInfo.authors}}</h6>
                </div>
                <br>
                <br>
                <div class="mb-2">
                    <label for="date"><b>Seleccionar día:</b></label>
                    <input type="datetime-local" id="currentDateTime" name="date" min="currentDateTime">
                </div>

                <input type="hidden" name="bookId" id="bookId" value="{{bookId}}">

                <button type="submit" class="btn btn-cloob">Crear evento</button>
            </form>
        </div>
    </div>
</div>

<script>
    const now = new Date().toISOString().slice(0, 16)
    document.getElementById('currentDateTime').value = now
</script>