<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">

            <h3>Lectura de:</h3>
            <h2>{{book.volumeInfo.title}}</h2>
            <hr>

            <h4>Escrito por:</h4>
            <h3>{{book.volumeInfo.authors}}</h3>
            <hr>

            <div class="card col-8 col-md-3 m-2 mb-4 card-cloob">
                <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" alt="{{book.volumeInfo.title}}">
            </div>
            <hr>

            <p>Fecha del evento:</p>
            <h4>{{event.date}}</h4>
            <hr>

            <p>Fecha de publicación: {{book.volumeInfo.publishedDate}}</p>
            <hr>

            <h4>Descripción del libro:</h4>
            <p>{{book.volumeInfo.description}}</p>
            <hr>

            <form action="/evento/agregar/{{event._id}}" method="POST">
                <input type="submit" value="Unirme al evento" class="btn btn-cloob">
            </form>
            <hr>

            <h4>Participantes de la lectura:</h4>

            {{#each event.participants}}

            <div class="card-friend text-left mb-3 mt-5">
                <div class="card-body">
                    <img src="{{avatar}}" alt="Avatar de {{firstName}} {{lastName}}" class="profile-picture">
                    <h4>{{firstName}} {{lastName}}</h4>
                    <a href="/perfil/{{_id}}" class="btn btn-cloob btn-sm">Ver perfil</a>
                </div>
            </div>

            {{/each}}

            <hr>

            {{#if isAdmin}}

            <div class="d-grid">
                <a href="/evento/editar/{{event.id}}" class="btn btn-cloob">Editar</a>
            </div>

            <form action="/evento/eliminar/{{event.id}}" method="POST">
                <input type="submit" value="Eliminar" class="btn btn-danger mt-3">
            </form>

            {{/if}}

        </div>
    </div>
</div>