<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h3>Crear nuevo evento</h3>
            <hr>
            <h2>Seleccionar libro</h2>
            <div class="row justify-content-center">
                {{#each books }}
                <div class="card card-cloob col-3 m-2 pb-2">
                    <img src="{{volumeInfo.imageLinks.smallThumbnail}}" alt="{{volumeInfo.title}}"
                        class="mb-2 book-preview">
                    <h6 class="card-cloob">{{volumeInfo.title}}</h6>
                    <p>{{volumeInfo.authors}}</p>
                    <a href="/evento/{{../cloob_id}}/crear-evento/{{id}}" class="btn btn-cloob">Seleccionar</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>