<div class="container">
    <div class="row justify-content-center">
        <h2>Crear nuevo evento</h2>
        <hr>
        <h3>Seleccionar libro</h3>
        <hr>
        <div class="row">
            {{#each books }}
            <div class="card cloobs col-8 col-md-3 m-2 mb-4">
                <img src="{{volumeInfo.imageLinks.smallThumbnail}}" alt="{{volumeInfo.title}}">
                <p>{{volumeInfo.title}}</p>
                <p>{{volumeInfo.authors}}</p>
                <a href="/evento/{{../cloob_id}}/crear-evento/{{id}}" class="btn btn-dark">Seleccionar</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>